<p id="notice"><%= notice %></p>
<p>
<h2><%= @brewery.name %></h2>

<i>Established at <%= @brewery.year %></i> <br></br>

Number of beers <%= @brewery.beers.count %> <br></br>
 <% @brewery.beers.each do |beer| %>
   <%= link_to beer.name, beer %>
 <% end %>
</p>
<% if @brewery.ratings.empty? %>
 </p> Brewery has not yet been rated! </p>
<% else %>
</p> Has <%= @brewery.ratings.count %>  <%= "rating".pluralize(@brewery.ratings.count) %> average rating <%= '%.2f' % @brewery.average_rating %> </p>
<% end %>
<%= link_to 'Edit', edit_brewery_path(@brewery) %> |
<%= link_to 'Back', breweries_path %>
