<h2><%= @brewery.name %>
  <% if not @brewery.active  %>
    <span class="label label-info">retired</span>
  <% end %>
</h2>


<i>Established at <%= @brewery.year %></i> <br></br>

Number of beers <%= @brewery.beers.count %> <br></br>
 <% @brewery.beers.each do |beer| %>
   <%= link_to beer.name, beer %>
 <% end %>
</p>
<% if @brewery.ratings.empty? %>
 </p> Brewery has not yet been rated! </p>
<% else %>
</p> Has <%= @brewery.ratings.count %>  <%= "rating".pluralize(@brewery.ratings.count) %> average rating <%= '%.2f' % @brewery.average_rating %> </p>
<% end %>
<% if current_user%>
<%= link_to 'Edit', edit_brewery_path(@brewery), class:"btn btn-warning" %> |
<%= link_to 'Destroy', @brewery, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger"  %>
<%= link_to "change activity", toggle_activity_brewery_path(@brewery.id), method: :post, class: "btn btn-primary" %>

<% end %>
