<p id="notice"><%= notice %></p>
<p>


<% if @chosen_place %>
 <h2> <%= @chosen_place.name %> </h2>

 <p> Phone: <%= @chosen_place.phone %> </p>
 <p> Address: <%= @chosen_place.street %>, <%= @chosen_place.city %>, <%= @chosen_place.country %> </p>

 <p> <%= @chosen_place.blogmap %> </p>


<% end %>

<%= link_to 'Back', places_path %>
